{% extends 'piloto_base_dashboard.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content_wrapper %}
<div class="m-b-md">
    <h3 class="m-b-none">Oponencias</h3>
    <small>Agregue una ponencia a su CV</small>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
           {% for ponency in user.worker.ponencys.all %}
               <div class="col-lg-3">
                  <section class="panel panel-default">
                       <div class="header" style="padding: 15px;">
                        <span class="text-muted">T&iacute;tulo:</span>
                        <span class="h4 block">{{ponency}}</span>
                      </div>
                    <div class="bg-light dk wrapper">
                      <span class="pull-right">Friday</span>
                      <span class="h4">$540<br>
                        <small class="text-muted">+1.05(2.15%)</small>
                      </span>
                      <div class="text-center m-b-n m-t-sm">
                          <div class="sparkline" data-type="line" data-height="65" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true" values="280,320,220,385,450,320,345,250,250,250,400,380"><canvas width="318" height="65" style="display: inline-block; width: 318px; height: 65px; vertical-align: top;"></canvas></div>
                          <div class="sparkline inline" data-type="bar" data-height="45" data-bar-width="6" data-bar-spacing="6" data-bar-color="#65bd77"><canvas width="150" height="45" style="display: inline-block; width: 150px; height: 45px; vertical-align: top;"></canvas></div>
                      </div>
                    </div>
                    <div class="panel-body" style="padding: 0px;">
                      <div class="table-responsive">
                          <table class="table table-striped b-t b-light">
                            <thead>
                              <tr>
                                <th width="20"><input type="checkbox"></th>
                                <th class="th-sortable" data-toggle="class">Fecha
                                  <span class="th-sort">
                                    <i class="fa fa-sort-down text"></i>
                                    <i class="fa fa-sort-up text-active"></i>
                                    <i class="fa fa-sort"></i>
                                  </span>
                                </th>
                                <th>Evento</th>
                                <th>Participaci&oacute;n</th>
                                <th width="30"></th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for ponency_realized in ponency.editions.all %}
                              <tr>
                                <td><input type="checkbox" name="post[]" value="2"></td>
                                <td>{{ponency_realized.event.date}}</td>
                                <td>{{ponency_realized.event}}</td>
                                <td>{{ponency_realized.participation}}</td>
                                <td>
                                  <a href="#" class="active" data-toggle="class"><i class="fa fa-download text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                      </div>
                      <div style="padding: 15px;">
                          <div class="line pull-in"></div>
                          <div class="row m-t-sm">
                            <div class="col-xs-4">
                              <small class="text-muted block">Presentaciones</small>
                              <span>{{ponency.editions.count}}</span>
                            </div>
                            <div class="col-xs-4">
                              <small class="text-muted block">Referal</small>
                              <span>$600.00</span>
                            </div>
                            <div class="col-xs-4">
                              <small class="text-muted block">Affiliate</small>
                              <span>$400.00</span>
                            </div>
                          </div>
                      </div>
                    </div>
                  </section>
               </div>
           {% empty %}
            <h1>No tienes</h1>
           {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block content_footer %}

{% endblock %}

