
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="http://modelos.insmet.cu">PRONÓSTICO NUMÉRICO</a>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link page-scroll active" href="#">Inicio</a></li>
                    <li><a class="nav-link page-scroll" href="#">Modelos</a></li>
                    <li><a class="nav-link page-scroll" href="#">Investigación</a></li>
                    <li><a class="nav-link page-scroll" href="#">Docencia</a></li>
                    <li><a class="nav-link page-scroll" href="#">Equipo</a></li>
                    <li><a class="nav-link page-scroll" href="{% url 'security:login' %}">Entrar</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>