{% extends 'piloto_base_dashboard.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block page_heading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Trabajo científico</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'piloto:index' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'piloto:science_work' %}">Trabajo científico</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Crear Ponencia</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-12">
              <div class="ibox">
                  <div class="ibox-title">
                      <h5>Datos de la ponencia</h5>
                  </div>
                  <div class="ibox-content">
                      <form role="form" method="post">
                          {% csrf_token %}
                          <div class="form-group row">
                              <div class="col-lg-4">
                                  {{ form.event|as_crispy_field }}
                                  <!--
                                  <select data-placeholder="Eventos..." class="chosen-select"  tabindex="2" name="event"></select>
                                  <div class="input-group">
                                      <input type="text" class="form-control">
                                        <div class="input-group-append show">
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="true">Action </button>
                                            <ul class="dropdown-menu float-right show" x-placement="top-start" style="position: absolute; top: -159px; left: 742px; will-change: top, left;">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="dropdown-divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                  </div>
                                  -->

                              </div>
                              <div class="col-lg-4">
                                  {{form.ponency|as_crispy_field}}
                              </div>
                              <div class="col-lg-4">
                                  {{form.participation|as_crispy_field}}
                              </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group row">
                              <div class="col-sm-4 col-sm-offset-2">
                                  <button class="btn btn-white btn-sm" type="button">Cancelar</button>
                                  <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
{% endblock %}

{% block content_footer %}

{% endblock %}

{% block js_scripts %}
    <script>
        $(document).ready(function(){
            $('.chosen-select').chosen({width: "100%"});
        });
    </script>
{% endblock %}
