<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="tbl_articles">
        <thead>
            <tr>
                <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set="#tbl_articles .checkboxes" />
                        <span></span>
                    </label>
                </th>
                <th>Título</th>
                <th>Fecha de publicación</th>
                <th>DOI</th>
                <th>Impacto</th>
                <th>Participantes</th>
                <th>Autores</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Título</th>
                <th>Fecha de publicación</th>
                <th>DOI</th>
                <th>Impacto</th>
                <th>Participantes</th>
                <th>Autores</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>