<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="tbl_courses">
        <thead>
            <tr>
                <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set="#tbl_courses .checkboxes" />
                        <span></span>
                    </label>
                </th>
                <th>Curso</th>
                <th>Edición</th>
                <th>Profesor</th>
                <th>Fecha de Inicio</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Curso</th>
                <th>Edición</th>
                <th>Profesor</th>
                <th>Fecha de Inicio</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>