<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="tbl_tribunals">
        <thead>
            <tr>
                <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set="#tbl_tribunals .checkboxes" />
                        <span></span>
                    </label>
                </th>
                <th>Título</th>
                <th>Grado</th>
                <th>Campo</th>
                <th>Centro de estudios</th>
                <th>Fecha de inicio</th>
                <th>Fecha de culmminación</th>
                <th>Tutor(es)</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Título</th>
                <th>Grado</th>
                <th>Campo</th>
                <th>Centro de estudios</th>
                <th>Fecha de inicio</th>
                <th>Fecha de culmminación</th>
                <th>Tutor(es)</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>