
<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle avatar-img" src="{{ user.worker.avatar.url }}"/>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">{{ user.worker.short_coloquial_name }}</span>
                            <span class="text-muted text-xs block">{{ user.worker.display_ocupation|default_if_none:'' }}  <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                            <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                            <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    <a href="{% url 'dashboard:index' %}"><i class="fa fa-th-large"></i> <span class="nav-label">Inicio</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Aplicaciones</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        {% for app in apps %}
                            <li><a href="{{ app.url }}">{{ app }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Configuración</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Seguridad</a></li>
                        <li><a href="#">Base de Datos</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>


